# .gitignore

# Visual Studio
.vs/
*.VC.db
*.suo
*.user
*.vcxproj.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# C++
*.obj
*.o
*.lib
*.dll
*.exe
*.pdb
*.ilk

# Files
*.log
*.tlog
*.tmp
